VITE_APP_NAME=CodeArchive
VITE_APP_ENV=development

VITE_ENABLE_AI_REVIEW=false
VITE_ENABLE_GITHUB=false
VITE_ENABLE_NOTION=false

VITE_GITHUB_CLIENT_ID=
VITE_GITHUB_REDIRECT_URI=
VITE_NOTION_PAGE_URL=
